<div class="head">
    <h1 >COLECCIÓN DE IMAGENES</h1>
    <h2 >PRACTICA DE EVALUACIÓN CONTINUA UF-1844</h2>
    <P>Daud Peralta Adan</P>
    <nav>           
        <ul>
          
            <li><a href="/">Mostrar Imagen</a></li>
            <li><a href="/Register">Registrar Imagen</a></li>
            <li><a href="/fotosironhack">IronHack</a></li>
        </ul>
    </nav>      
           
           
</div>